@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    background-image: url("../img/star-wars-background.jpeg");
    background-repeat:repeat;
    background-position: center;
    background-size: 1000px;
    background-repeat: repeat;
    font-family: 'Kanit', sans-serif;
}

.game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#timer {
    font-size: 2em;


}

.timer-text {
    color: white;
    align-self: right;
}

.btn.started {
    background-color: red;
}

.btn.stopped {
    background-color: navy
}


#container {
    position: relative;
    background-size: 101%;
    background-position: center;
    border: 1px solid white;
}

.character {
    position: absolute;
    background-color: red;
}


.wall {
    background-color: white;
    position: absolute;
}


.hidden {
    visibility: hidden;
}

/* RULES SECTION */
.explanations {
    width: 800px;
    color: white;
    text-align: justify;
}


.start-buttons button {
    background-color:dimgray;
    opacity: 1;
    color: white;
    font-size: 2em;
    padding: 0.5em 1em;
    width: 200px;
}

.levels button {
    background-color:dimgray;
    color: white;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    width: 150px;
}

.levels {
    margin: 1.5em auto
}


.start-settings {
    background-color: rgba(198, 198, 198, 0.2);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    width: 1000px;
    margin: auto 0;
    padding: 3em;
    
    top: 20%
}


.selected {
    font-weight: bold;
}

.lose-game {
    background-color: rgba(198, 198, 198, 0.5);
    color: white;
    margin: 0 auto;
    top: 20%;
    height: 300px;
    width: 1000px;
    position: absolute;
}

.lose-game h3 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

.win-game {
    background-color: rgba(198, 198, 198, 0.5);
    color: white;
    margin: 0 auto;
    top: 20%;
    height: 300px;
    width: 1000px;
    position: absolute;
}

.win-game h3{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

.opaque {
    opacity: 0.5
}

h2, h1 {
    text-align: center
}

#stop-button {
    background-image: ;
}


.choose-level {
    font-weight: bold
}