@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    font-family: 'Kanit', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 20px
}

.game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5)
}

#timer {
    font-size: 2em;
    color: black
}

.timer-text {
    color: black;
    align-self: right;
}


#maze-area {
    position: relative;
    background-size: 101%;
    background-position: center;
    border: 1px solid white;
}

.character {
    position: absolute;
    background-size: 100%;
}


.wall {
    background-color: black;
    position: absolute;
}


.hidden {
    visibility: hidden;
}

#rules-section {
    width: 800px;
    color: dimgray;
    text-align: justify;
}

p {
    text-align:center;
}

.button {
    color: rgba(105, 105, 105, 0.283);
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;
    width: fit-content;
    border: none;
    margin: 0 auto;
}

.button:hover {
    border-bottom: rgba(204,171,216,255) 2px solid
}



.levels {
    margin: 1.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start
}

.start-settings {
    background-color: rgba(225,212,221,255);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    width: 1000px;
    margin: auto 0;
    padding: 3em;
    top: 20%;
}

.selected {
    font-weight: bold;
}

.end-game-message h3 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.end-message {
    color: white;
    margin: 0 auto;
    top: 20%;
    height: 300px;
    width: 1000px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lose-message {
    background-color: rgba(225,212,221,255)    ;
}

.win-message {
    background-color: rgba(204,171,216,255);
}

.opaque {
    opacity: 0.5
}

h2, h1 {
    text-align: center
}

.choose-level {
    font-weight: bold
}

.exit {
    opacity: 1;
    position: absolute;
}

.btn-stop {
    margin: 3em auto
}


.name-user {
    position: static;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.rotate {
    
}





